.geojsonViewer{
  height: 100%;
}

.geojsonViewer.container {
  display: flex;
  width: 100%;
}

.geojsonViewer .left {
  flex: 0 0 70%;
   min-height: 0;
}

.geojsonViewer .right {
  flex: 0 0 30%;
  min-height: 0;
}