.Layout {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 5% 90% 5%;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--background);
}

.Layout > header,
.Layout > footer {
  grid-column: span 3;
}

.Layout > main {
  grid-column: span 3;
  overflow-x: hidden;
}

.dark-theme .mdc-dialog .mdc-dialog__surface {
  background-color: var(--mdc-theme-alternative-surface, #fff);
  border-radius: 8px;
}

.dark-theme .mdc-dialog .mdc-dialog__title {
  background: linear-gradient(
      90deg,
      var(--mdc-theme-gc-selection-background, #fff) 16.15%,
      rgba(69, 85, 112, 0.3) 100%
    ),
    var(--mdc-theme-alternative-surface, #fff);
  padding-bottom: 0;
  line-height: initial;
  display: flex;
  align-items: center;
  color: var(--mdc-theme-text-icon-on-dark);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dark-theme .mdc-dialog .mdc-dialog__content {
  color: rgba(var(--mdc-theme-on-surface),.7);
  padding: 0 20px;
}