:root {
  --toolSize: 220px;
  --toolsColNum: 1;
  --toolsRowNum: 1;
  --background: #121212;
  --background-light: #282828;
  --color: #36baa2;
  --color-light: #69ddc7;
  --white: #fff;
}

.Tools {
  width: 100vw;
  height: 100vh;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  background-color: var(--background);
  /* background-image: url('/assets/img/background.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
}

.Tools > .Grid {
  display: grid;
  grid-template-columns: repeat(var(--toolsColNum), var(--toolSize));
  grid-template-rows: repeat(var(--toolsRowNum), var(--toolSize));
  gap: 20px;
}

.Tools .Item {
  border: 1px solid var(--color-light);
  border-radius: 10px;
  background-color: var(--background-light);
  /* background-image: url('/assets/img/tool.gif');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer; */
}

.Tools .Details {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 10% 80%;
	text-align: center;
}

.Tools .Details .Category {
  color: var(--color-light);
  font-weight: bold;
  font-size: larger;
}

.Tools .Details .Name {
  color: var(--white);
  font-weight: bold;
  font-size: larger;
}
