.Tools {
  width: 100vw;
  height: 100vh;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  background-image: url('/assets/img/background.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.Tools > .Grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.Tools .Item {
  width: 220px;
  height: 220px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-image: url('/assets/img/tool.gif');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.Tools .Details {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 10% 80%;
	text-align: center;
}

.Tools .Details .Category {
  color: #65E0D0;
  font-weight: bold;
  font-size: larger;
}

.Tools .Details .Name {
  color: white;
  font-weight: bold;
  font-size: larger;
}
