.Terrain .Dialog {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: rgba(255,0,0,0.5);
  color: var(--white);
  border-radius: 10px;
  max-height: 300px;
  overflow-x: auto;
}
