.geojsonViewer .ol-control button {
  font-size: 24px;
  height: 40px;
  width: 40px;
}
.geojsonViewer .geoDrawingToolbar {
  display: flex;
  flex-direction: column;
  /* border-radius: 8px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10px;
  top: 140px;
}
.geojsonViewer .geoDrawingToolbar button {
  background-color: #fff;
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  padding: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
}

.geojsonViewer .geoDrawingToolbar .mdc-button {
  min-width: unset;
}
.geojsonViewer .geoDrawingToolbar button:hover {
  background-color: #f0f0f0;
}

.geojsonViewer .geoDrawingToolbar button:active {
  transform: scale(0.95);
}

.geojsonViewer .geoDrawingToolbar button svg {
  width: 28px;
  height: 28px;
}

.geojsonViewer .geoDrawingToolbar button.active {
  border-color: #007bff;
}
